body{
background-color: rgba(127, 255, 212, 0.514);
    font-family: 'Yusei Magic', sans-serif;

}
.left{display: flex;
margin-left: 150px;
margin-top: 20px;

}
.logo2{ font-size:30px;
    color:orange;
}
.right{

margin-right: 100px;

}
.time{
    color:orangered;
}
.top{
  width: 50%;  
}
.top .timg{
    width:80%;
}

.head{

height:700px;
background-color: aquamarine;

}

.top img{width:100%;
}

}
button img{
    width: 15%;}



#cart{width: 10%;}
.blogo{
display: flex;

}

#imgg{
    width: 20px;
    height: 20px;
}
.butt{margin-left: 0px;
    padding: 0;
    width:20px;
height: 20px;}
.butt1{margin-left: 150px;
    width:120px;
    height: 35px;
}
.btimg{
    width: 15%;
}
.xox{display: flex;}


.icon1{
    color: chartreuse;
}
.pingu{
  width: 50px;  
}
.myimg{
width: 150px;
height: 150px;

}
#my{margin-left: 30px;
    height: 150px;
width: 130px;
}

.zash{
  margin-left: 30px;  
}
.lastimg1{width: 50px;
height: 50px;}
.lastimage  {margin-left: 50px;
    margin-top: 200px;
      width: 500px;
    height: 200px;
}

.stop{display: flex;
width: 50%;}
.end1{margin-top: 20px;
width: 400px;
height: 150px;

}
.myend{

    margin-left: 150px;
}
.card-foot{
    border: none;
    background-color: ;
}
.btn10{
   color:white; 
   background-color: green;
   border-radius: 2%;
}
.enhere{

    margin-left: 50px;
}
.end{
    height: 900px;
}
.myself{
    height: 500px;
}
.blog-img{

    width:80px;
    height: 80px;
    }
    .container{
    
    
    
    }
    .brand-img{
    width: 80%;
    margin-left: 40px;
    
    }
    .blog{
    margin-left: 0px;
    }
    .blogs{
        height:160px;
        width: 400px;
       
    }
    