body{
background-color: rgba(127, 255, 212, 0.514);
    font-family: 'Yusei Magic', sans-serif;

}
.left{display: flex;
margin-left: 150px;
margin-top: 20px;

}
.logo2{ font-size:30px;
    color:orange;
}
.right{

margin-right: 100px;

}
.time{
    color:orangered;
}
.top{
  width: 50%;  
}
.top .timg{
    width:80%;
}

.head{

height:700px;
background-color: aquamarine;

}

.top img{width:100%;
}

}
button img{
    width: 15%;}



#cart{width: 10%;}
.blogo{
display: flex;

}

#imgg{
    width: 20px;
    height: 20px;
}
.butt{margin-left: 0px;
    padding: 0;
    width:20px;
height: 20px;}
.butt1{margin-left: 150px;
    width:45%;
    height: 35px;
}
.btimg{
    width: 20%;
}
.xox{display: flex;}


.icon1{
    color: chartreuse;
}
.pingu{
  width: 50px;  
}
.myimg{
width: 150px;
height: 150px;

}
#my{height: 150px;
width: 130px;
}
.end{height: 700px;}

    .last{
    
    }

.lastimg1{width: 30px;
height: 50px;}
.lastimage  {margin-top: 200px;
      width: 500px;
    height: 300px;
}

.stop{display: flex;
width: 50%;}
.end1{
width: 500px;
height: 150px;

}
.myend{

    margin-left: 150px;
}
.card-foot{
    border: none;
    background-color: ;
}
.btn10{
   color:white; 
   background-color: green;
   border-radius: 2%;
}
